* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    ;
}

header {
    background-color: #0F2C59;
    font-size: 25px;
    
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 22px 44px #EADBC8
        /* Optional: Add a subtle box shadow */
}

header h1 {
    font-family: 'Times New Roman', serif;
    /* Classic serif font */
    font-size: 2.5em;
    /* Larger font size for a vintage touch */
    color: #F5EFE7;
    text-align: center;
    /* Darker brown text color for the heading */
    margin: 0;
    /* Remove default margin for the h1 element */
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;

}

.product {
    max-width: 300px;
    margin: 50px;

    border: 0px solid #ddd;
    text-align: center;
}


img {
    max-width: 110%;
    /* Ensure images don't exceed the width of their container */
    height: auto;
    /* Maintain the aspect ratio of images */
    display: block;
    /* Remove default spacing below images */
    margin: 10px auto;
    /* Center images horizontally */
    border-radius: 8px;
    /* Add rounded corners to images */
}

.img-enhanced {
    border: 0px solid #0F2C59;
    /* Add a border to the image */
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

.img-enhanced:hover {
    transform: scale(1.2);
    /* Enlarge the image on hover */
}



/* Styling to the footer */
footer {
    background-color: #0F2C59;
    color: F8F0E5;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.contact-us,
.follow-us {
    max-width: 300px;
}

/*Style the contact and follow sections */
.contact-us h3,
.follow-us h3 {
    color: #F8F0E5;
    border-bottom: 1px solid #F8F0E5;
}

.contact-us p,
.follow-us p {
    margin: 5px 0;
}

/* Styles for the "Back to Home" button */
.back-to-home-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: -60px;
    background-color: #0F2C59; 
    color: white;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  .back-to-home-btn:hover {
    background-color: #4F709C; 
  }